:root {
  --primary-color: #1090cb;
  --secondary-color: #1090cb1a;
  --purple-color: #efeaff;
  --green-color: #ecffda;
  --blue-color: #dae6ff;
  --orange-color: #ffe5da;
  --grey-color: #969696;
  --bear-green: #08d3bb;
  --bear-purple: #9208d3;
  --card-color: #f4f4f4;
  --form-background: #e8f4fa;
  --footer-logo: #00329b;
}
.nav {
  position: relative;
  border-bottom: 0.7px solid #c4c4c45e;
}
.nav .ellipse {
  position: absolute;
  top: 15px;
  right: 37rem;
}
.blue-btn {
  background-color: var(--primary-color);
}
.blue-btn:hover {
  border: 1px solid var(--primary-color) !important;
  background-color: white !important;
  color: var(--primary-color) !important;
}
.blue-text {
  color: var(--primary-color);
}
.home {
  color: var(--primary-color) !important;
}
.hero {
  background-color: var(--secondary-color);
  position: relative;
}
.shade {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fdffea 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.hero .leftimg {
  position: absolute;
  top: 20rem;
  left: 0px;
  width: 3rem;
}
.hero .rightimg {
  position: absolute;
  top: 18rem;
  right: 0px;
  width: 2.5rem;
}
.hero-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.mob-app {
  padding: 0px 50px;
}
.cardimg1 {
  background-color: var(--purple-color);
}
.cardimg2 {
  background-color: var(--green-color);
}
.cardimg3 {
  background-color: var(--blue-color);
}
.cardimg4 {
  background-color: var(--orange-color);
}
.bear1 {
  background-color: var(--bear-green);
}
.bear2 {
  background-color: var(--primary-color);
}
.bear3 {
  background-color: var(--bear-purple);
}
.printing {
  position: relative;
}
.printing .dottedline {
  position: absolute;
  top: 365px;
  left: -3rem;
  width: 58%;
  height: 59%;
  z-index: -1;
}
.card1 {
  background-color: var(--card-color);
}
.card2 {
  background-color: var(--primary-color);
  position: relative;
}
.cards {
  position: relative;
}
.cards .pinkshade {
  position: absolute;
  right: 0px;
  top: 20px;
}
.bell {
  position: absolute;
  top: -5rem;
  left: 20rem;
}
.companies {
  position: relative;
}
.companies .yellowshade {
  position: absolute;
  left: 0px;
  z-index: -1;
}
.form {
  background-color: var(--form-background);
}
.form input {
  box-shadow: 0px 4px 84px 0px #00000012;
}
.logo {
  color: var(--footer-logo);
}
.socials {
  color: black;
  background-color: white;
  padding: 10px 26px 10px 13px;
  margin: 10px;
  box-shadow: 0px 4px 14px 0px #00000026;
  border-radius: 50%;
  margin-top: 100px;
}

@media screen and (max-width: 991px) {
  .ellipse {
    display: none !important;
  }
  .leftimg {
    display: none;
  }
  .rightimg {
    display: none;
  }
  .dottedline {
    display: none;
  }
  .bear {
    display: none !important;
  }
  .bell {
    display: none;
  }
  .yellowshade {
    display: none;
  }
  .pinkshade {
    display: none;
  }
}